body{
    margin: 0;
    padding: 0;
    background-color: #E9D9F7;
    
}

.centered_picture{
    position: absolute;
    width: 100%;
    height: auto;
    max-width: 450px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 77%;
    
    
}

/* Add a background color to the top navigation */
.topnav {
    background-color:  #E9D9F7;
    overflow: hidden;
    float: none;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 800px;
    
  }

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  font-size: 20px;
  font-family:'Courier New', Courier, monospace;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: black;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: pink;
}

.circle-container {
  position: absolute;
  width: 90%;
  height: 90%;
  z-index:-1;
}

.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  z-index:1;
  
}


.introduction{
  position: absolute;
  top: 20%;
  left: 10%;
  font-family:'Courier New', Courier, monospace;
}

.container{
  display: inline-block;
  
}

.typed-out{
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  animation: 
      typing 2s steps(25, end) forwards, 
      blinking .8s infinite;

  font-size: 2.7rem;
  font-weight:600;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blinking {
  from { border-color: transparent }
  to { border-color: black; }
}

.description{
  font-size: 2rem;
  color: #5F8B68;
  font-weight:500;
  
}

.plant{
  position:absolute;
  height: 270x;
  width: 360px;
  top: 100%;
  left:25%
}



/*About me*/
.aboutMe{
  color: black;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#aboutPara{
  color: black;
  width: 80%;
  height: 50%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  font-weight:300;

}

#stony_logo{
  width:100px;
  height:100px;
  position:absolute;
  top: 12%;
  left: 28%;
}

#wise_logo{
  width:145px;
  height:110px;
  position:absolute;
  top: 11%;
  left: 65%;
}

#contact_header{
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  position: absolute;
  width: 60%;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 40px;
}
#contact_me{
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  position: absolute;
  width: 60%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  color:black;
}

#links{
  font-family:'Courier New', Courier, monospace;
  
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  
}

.bear_gif{
  width:270px;
  height:200px;
  position: absolute;
  top:50%;
  left: 20%;
  transform: translate(-50%,0%);
}

.professional_pic{
  position: absolute;
  width: 230px;
  height: 240px;
  top: 47%;
  left: 80%;
  transform: translate(-50%, 0%);
  border: 5px solid #4D69B6;
}

.positions_label{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:800;
  
 
}


.position_date{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 600;
  
 

}

.position_para{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

.experience_block{
  position:absolute;
  left: 3%;
  top: 10%;
  width: 70%
}

#gao{
  position:absolute;
  top: 5%;
  left: 105%;
  width: 20%;
  height: auto;
}

#nyit_logo{
  position: absolute;
  top: 20%;
  left: 105%;
  width: 25%;
  height: auto;
}

#nyit_poster{
  width: 60%;
  height: auto;
}

#mit_urtc{
  transform: translate(0%, -50%);
  position: absolute;
  top: 45%;
  left: 105%;
  width: 30%;

}

#ieee{
  position: absolute;
  top: 55%;
  left: 105%;
  width: 30%;
  height: auto;
  
  
}

#jei{
  position: absolute;
  top: 81%;
  left: 105%;
  width: 30%;
  height: auto;
}

#cchc{
  position: absolute;
  top: 93%;
  left: 105%;
}

#github_logo{
  position: absolute;
  width: 15%;
  height: auto;
  transform: translate(-50%, 0%);
  top: 13%;
  left: 50%;
  border: 1px solid black;
  padding: 2px;

  
}



.projects{  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: absolute;
  top: 30%;
  left: 3%;
}

.projects_para{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  width: 65%;
}

.project_title{
  font-size: 25px;
}
#ensemble{
  width: 20%;
  height: auto;
  position: absolute;
  left: 70%;
  top: 22%;
}

#flappy{
  position: absolute;
  left: 69%;
  top: 45%;
}


#butterflies{
  position: fixed;
  top: 5%;
  left:40%;
  transform: translate(-50%, 0%);
  height: 100%;
  width: auto;
}

.activities_logo{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 15%;

}

.activities_block{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: absolute;
  top: 20%;
  left: 3%;
  width: 70%;
}

.act_para{
  font-size:20px;
}

#sbcs_logo{
  position: absolute;
  width: 25%;
  height: auto;
  left: 110%;
  top: 8%;
  border: 3px solid #3399ff;
  
}

#vip_logo{
  
  position: absolute;
  left: 110%;
  width: 25%;
  height: auto;
  top: 33%;
  border: 3px solid #9C9696;
}

#vip_logo2{
  position: absolute;
  left: 110%;
  width: 25%;
  height: auto;
  top: 57%;
  border: 3px solid #9C9696;
}

#wics_logo{
  position: absolute;
  left: 110%;
  top: 87%;
  width: 25%;
  height: auto;
  border: 3px solid #6ECFFF;
}
















